body {
    background-color: #27272a;
    color: #ededff;
    display: grid;
    place-items: center;
    margin: 0;
}

ul {
    list-style-type: square;
    margin-top: .25rem;
    /* margin-bottom: .25rem; */
}
li {
    margin-bottom: .125rem;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

.contacts {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;;
    text-align: left;
    font-size: medium;
}

.contacts p {
    padding-bottom: 0.25rem;
}

.accounts {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.accounts a {
    color: unset;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.nametag {
    font-size: x-large;
    text-align: center;
}

.nametag p,
.description,
.icon {
    text-align: center;
}

.accounts {
    font-size: large;
    text-align: center;
}

.container h1,
.container h2,
.container h3 {
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    text-align: left;
    margin: 0 0 10px;
}

.container h2, h3 {
    padding-right: 1rem;
}

.container h2 {
    font-weight: 400;
    padding-left: 1rem;
    border-left: 3px solid #8e8e99;
}

.container h3 {
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #bebecc;
    font-weight: 300;
}

.container p, li, footer {
    /* font-family: "Sawarabi Gothic", serif; */
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.p-footer {
    text-align: center;
}
